/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 150px;
}

/* Heading H1 */
h1 {
    color: blue;
    text-align: center;
}


/* Heading H2 */
h2 {
    color: green;
    text-align: center;
}

/* Horizontal Rule */
hr {
    border-color: black;
}

/* Computing */

.screenshots-article {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

.screenshots {
    display: block;
    margin: auto;
    max-width: 100%;
}

.screenshots-caption {
    position: relative;
    top: 15px;
}