/* Body */
body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    padding-top: 80px;
}

/* Heading H1 */
h1 {
    color: blue;
    text-align: center;
}


/* Heading H2 */
h2 {
    color: green;
    text-align: center;
}

/* Horizontal Rule */
hr {
    border-color: black;
}

/* Home */

#home {
    height: 100vh;
}

#home-start {
    padding-top: 80px;
}

/* Computing */

#computing-start {
    padding-top: 80px;
}


.screenshots-article {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

.screenshots {
    display: block;
    margin: auto;
    max-width: 100%;
}

.screenshots-caption {
    position: relative;
    top: 15px;
}

.associations-links li a {
    text-decoration: none;
    color: green;
}

.associations-links li a:hover {
    text-decoration: none;
    color: orange;
}

/* Music Section */

#music {
    height: 100vh;
}

#music-home {
    padding-top: 80px;
}

.music-article {
    padding: 10px;
}

#music-caption {
    position: relative;
    top: 15px;
    text-align: center;
}

/* Table */
th {
    background-color: lightblue;
}


/* Holidays */


#holidays-start {
    padding-top: 80px;
}

.holiday-descriptions {
    text-align: center;
}

.holiday-tile {
    border: 4px solid blue;
}

.holiday-tile:hover {
    border: 4px solid orange;
}

.holiday-tile:img {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
}